body{
    background-color: #89C15E;
    color: #FFFFFF;
    padding: 10px;
    padding-inline: 300px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none; /* Disable text selection */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

}
#scorecard{
    padding-inline: 20px;
    border: solid;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
}
#rps{
font-size: 25px;
line-height: 20.88px;
}
#score{
    display: flex;
    padding: 10px;
    gap:30px;
}
.scorediv{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #FFFFFF;
    color:  #656565;
    padding: 10px;
    width: 155px;
    height: 155px;
    border-radius: 10px;
}
.scorediv>p{
    margin:0px;
}
.num{
    color: #252525;
    font-size: 80px;
}
#footer{
    display: flex;
    position: absolute;
    right:50px;
    bottom: 15px;
    gap: 20px;
    justify-content: end;
}
.fbutton{
    border-radius: 8px;
    align-content: center;
    text-align: center;
    height: 30px;
    width: 119px;
    border: 2px solid #FFFFFF;
    /* z-index: 100; */
}
#Next{
    display: none;
}
#Rules{
    position: absolute;
    bottom: 70px;
    right: 70px;
}
#rcontent{
    background-color: #004429;
    width: 278px;
    height: 325px;
    border-radius: 13px ;
    font-size: small;
    border: 7px solid #FFFFFF;
    /* padding: 10px; */
}
#rcontent>h1{    
    text-align: center;
}
#rcontent>ul{
    list-style-image: url('images/list.png');
}
#rcontent>ul>li{
    padding: 10px;
}
#close{
    position: relative;
    top: 20px;
    left: 265px;
    padding: 6px;
    padding-block: 0px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 50%;
    background-color: #FF0000;
    border: 5px solid #FFFFFF;
}
.hidden {
    position: absolute;
    left: -9999px;
}
.visible {
    position: static; /* Or whatever position is appropriate */
}
.main{
    /* border: solid; */
    display: flex;
    height: 300px;
    align-items: center;
}  
.button{
    background-color: #FFFFFF;
    padding: 10px;
    width: 90px;
    height: 90px;
    box-shadow: 
    -1px 1px 11px 0px #00000059,
    inset 3px 0px 21px 1px #00000033 ;
    border: 16px solid ;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
#rock{border-color: #0074B6;}
#paper{border-color: #FFA943;}
#scissors{border-color:#BD00FF;
}
#interface1{
    padding: 30px;
    flex-direction: column;
}
#row1{
    width: 50%;
    display: flex;
    justify-content: space-between;
    
}
.line {
    position: absolute;
    border-top: 10px solid black;
    transform-origin: 0 0;
    opacity: 50%;
}
#interface2{
    /* border: solid; */
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}

.circle {
    position: relative;
    left: 0%;
    /* border: solid; */
    width: 400px;
    height: 680px;
    border-radius: 50%;
    background: 
    radial-gradient(circle at center, #2E9A2563 20%, transparent 20%) 50% 50% / 120% 120% no-repeat,
    radial-gradient(circle at center, #2E9A2563 30%, transparent 30%) 50% 50% / 100% 100% no-repeat, 
    radial-gradient(circle at center, #2E9A2563 40%, transparent 40%) 50% 50% / 90% 90% no-repeat;
    display: flex;
    align-items: center;
    text-align: center; 
}

.button{
    cursor: pointer;
    position:relative;
 }
.circle>div{
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.anon{
    
    height: 700px;
}
.anon>div{
    /* border: solid; */
    border-radius: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
label{
    z-index: 1;
    position: relative;
    top: 35%;
}
.retry{
    background-color: #FFFFFF;
    color: #6B6B6B;
    width: 150px;
    height: 44px;
    border-radius: 10px;
    border: none;
    z-index: 2;
}
img {
    pointer-events: none;
}
#result{
    z-index: 4;
}
#wonpage{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
 }
#wonpage>h1{
    margin: 0px;
    font-size: 90px;
} 
#wonpage>h2{
    font-size: 40px;
}
#trophy{
    left: 250px;
}
#stars{
    right:  100px;
}
#victoryimages>img{
    position: relative;
    /* left: 250px; */
} 
